{% extends 'base.html'  %}


{% block content %}
<h1>Did you forget something to add sometheing, no problem I got you covered!</h1>
<div class="container">

	<form action="{{ url_for('cafe.add_cafe') }}" method="post" novalidate>
		{{ form.csrf_token }}
		<div class="form-group">
			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.location.label(class="form-label") }}
			{{ form.location(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.tables_quantity.label(class="form-label") }}
			{{ form.tables_quantity(class="form-control") }}
		</div>

		<!--	Long Stay Radio Button	-->
		<div class="">
			{{ form.long_stay.label }}
			{% for subfield in form.long_stay %}
			<div class="form-check">

				{{ subfield.label(class="form-check-label") }}
				{{ subfield(class="form-check-input") }}
			</div>
			{% endfor %}
		</div>

		<!--	Wifi Radio Button	-->
		<div class="">
			{{ form.wifi.label }}
			{% for subfield in form.wifi %}
			<div class="form-check">

				{{ subfield.label(class="form-check-label") }}
				{{ subfield(class="form-check-input") }}
			</div>
			{% endfor %}
		</div>

		<!--	Sockets Radio Button	-->
		<div class="">
			{{ form.sockets.label }}
			{% for subfield in form.sockets %}
			<div class="form-check">

				{{ subfield.label(class="form-check-label") }}
				{{ subfield(class="form-check-input") }}
			</div>
			{% endfor %}
		</div>

		<!--	Quiet Radio Button	-->
		<div class="">
			{{ form.quiet.label }}
			{% for subfield in form.quiet %}
			<div class="form-check">

				{{ subfield.label(class="form-check-label") }}
				{{ subfield(class="form-check-input") }}
			</div>
			{% endfor %}
		</div>

		<!--	Calls Radio Button	-->
		<div class="">
			{{ form.calls.label }}
			{% for subfield in form.calls %}
			<div class="form-check">

				{{ subfield.label(class="form-check-label") }}
				{{ subfield(class="form-check-input") }}
			</div>
			{% endfor %}
		</div>

		{{ form.submit(class="btn btn-outline-primary btn-lg") }}
	</form>
</div>

{% endblock %}